<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Create Event</title>

    <!-- Bootstrap core CSS -->
    {%load static%}
     <!-- Bootstrap css -->
     <link href="{%static 'hub/bootstrap.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="{%static 'hub/background.css' %}">
     
  </head>

<body>
  
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/" class="logo">
                      <img src="{%static 'hub/images/DIY_2.png' %}" alt="DIY EVENT HUB">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    {%if request.user.username%}
                    <li><button><a href="{% url 'login' %}">Dashboard</a></button></li>
                    <li><button style="background-color: #aedb81;"><a href="#">Logged in as:{{request.user.username}}</a></button></li>
                    <li><button><a href="{% url 'logout' %}">Logout</a></button></li>
                    {%else%}
                    <li><button><a href="{% url 'login' %}">Login</a></button></li>
                    <li><button><a href="{% url 'register' %}">Register</a></button></li>
                    {% endif %}
                  </ul>   
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
  </header>
  <!-- ***** Header Area End ***** -->

<!-- Poster layout gets plopped in here -->
  <div class="page-heading">
      {% block content %}
      {% endblock %}
	  <br>
<!-- This is a simple button for copying the event link to clipboard -->
<!-- powered by sharebutton.sj -->
    {% if request.user.username%}
    <button id="share_button" style="height: 45px; font-size: large;" class="btn btn-primary">Share Event</button>
    <span id="confirm_message" style="display:none;">Copied to your clipboard, paste to share!</span>
    <br><br>
    {% else %}
    <form class="poster-form" id="poster-form" style= "width:auto" method="POST">
      {% csrf_token %}
      <div class="user-box">
        <h2 style="color: #FFD700">Will You be Attending?
          {{event_rsvp.Is_rsvp}}
          <button type="submit" style="height: 30px; font-size: small; border-radius: 20px" class="btn btn-primary">Send your confirmation</button>
        </h2>
        <br>
      </div>
    </form>
    {% endif %}
    <footer style="position: relative; bottom: 0; width: 100%">
      <div>
        <p>Copyright © 2022 DIY EVENT HUB </p>
      </div>
    </footer> 
  </div>


  <!-- Scripts -->
  <!-- Share event page button -->
  <script src= "{%static 'hub/js/sharebutton.js' %}"></script>
</html>



