<!-- This document is a root-template for the event pages. The content is to be filled information contained in the context which is pulled from the model, and should consist of the data for an indiviual event. -->
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load static %}
</head>

<body>
	<!-- These paragraphs are for debugging -->
	<p> This is a template page, pulling from EventDetails model:</p>
	<p> {{event.event_id}}</p>
	<p> {{event.title}} </p>
	<p> {{event.description}}</p>
	<p> {{event.Location}}</p>
	<p> {{event.date}} {{event.time}}</p>
	<P> {{event.Is_public}}</P>


	<!-- Normal code continutes here -->
	{% block content %}
	{% endblock %}
</body>
</html>
