{% extends 'hub/event_page.html' %}
{%block content %}
{% load static %}
<style>
		.Title_Description {
			flex-basis: 100%
		}

		.poster_img {
			
			background-image: url("{% static 'hub/layouts/birthday2.png' %}");
			background-position: top center;
      border-radius: 20px;
      max-width: 645px;
			margin: 0 auto;
			display: block
		}

    .date_time{

      color: #EEE8AA;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #EEE8AA;
  }
  
  to {
    text-shadow: 0 0 2px #EEE8AA, 0 0 4px #EEE8AA, 0 0 6px #EEE8AA;
  }
}
</style>

  <div>
    <div class="poster_img">
      <div class="Title_Description">
        <div>
          <h1 id="title" style="font-family: 'MV Boli'; color:#FFD700;font-size:40px;font-weight:700;letter-spacing:3px;line-height:150%;text-align:center;margin-top:0;margin-bottom:0;">{{event.title}}<br/></h1>
        </div>
        <div>
          <div style=" margin-left: auto; margin-right: auto;border-top:2px solid #808080;width:35%;"></div>
        </div>
        <div >
          <h1 style="color:#FFD700;direction:ltr;font-family:'Harrington';font-size:22px;font-weight:400;letter-spacing:2px;line-height:150%;text-align:center;margin-top:0;margin-bottom:0;">{{event.description}}<br/></h1>
        </div>
          <div style="height:50px;"></div>
          <div style="height:50px;"></div>
          <div>
            <p style=" margin-left: 15% ;line-height: 50px;"><span style=" font-family: 'Ink Free' ;color: #DAA520;font-size: 35px; line-height: 40px;">{{event.location}}</span></p>
          </div>
          <div style="height:50px;"></div>
          <div>
            <p class = "date_time" style="margin-left: 15%; line-height: 40px;"><span style=" font-family: 'Rockwell';color: #DAA520;font-size: 25px; line-height: 40px;">{{event.date}}</span></p>
          </div>
          <div>
            <p class = "date_time" style=" margin-left: 15%; line-height: 40px;"><span style=" font-family: 'Rockwell';color: #DAA520;font-size: 25px; line-height: 40px;">{{event.time}}</span></p>
          </div>
        <div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock%}