{% extends 'hub/event_page.html' %}
{%block content %}
{% load static %}
<style>
		.Title_Description {
			flex-basis: 100%
		}

		.poster_img {
			
			background-image: url("{% static 'hub/layouts/concert1.png' %}");
			background-position: top center;
      border-radius: 20px;
      max-width: 645px;
			margin: 0 auto;
			display: block
		}
	</style>
  <div>
    <div class="poster_img">
      <div class="Title_Description">
        <div>
          <h1 id="title" style="padding-right: 20px; font-family: 'Colonna MT'; color:#00FFFF;font-size:50px;font-weight:700;letter-spacing:3px;line-height:150%;text-align:right;margin-top:0;margin-bottom:0;">{{event.title}}<br/></h1>
        </div>
        <div>
          <div style=" padding-top: 10px; border-top:2px solid  #BBC2CC;width:80%;"></div>
          <div style=" padding-top: 10px; border-top:2px solid  #BBC2CC;width:85%;"></div>
          <div style=" padding-top: 10px; border-top:2px solid  #BBC2CC;width:90%;"></div>
        
        </div>
        <div >
          <h1 style="padding-left: 20px; color:#ffffff;direction:ltr;font-family:'Lucida Handwriting';font-size:22px;font-weight:400;letter-spacing:2px;text-align:left;margin-top:10%;margin-bottom:0;">{{event.description}}<br/></h1>
        </div>
          <div style="height:10px;"></div>
          <div style="height:10px;"></div>
          <div>
            <p style=" padding-left: 20px; text-align: left; line-height: 50px;"><span style=" font-family: 'Lucida Handwriting' ;color: #ffffff;font-size: 25px; line-height: 40px;">{{event.location}}</span></p>
          </div>
          <div style="height:90px;"></div>
          <div>
            <p style="padding-right: 20px;text-align: right; line-height: 40px;"><span style=" font-family: 'Tempus Sans ITC';color: ##00FFFF;font-size: 25px; line-height: 40px;">{{event.date}}</span></p>
          </div>
          <div>
            <p style=" padding-right: 20px;text-align: right; line-height: 40px;"><span style=" font-family: 'Tempus Sans ITC';color: ##00FFFF;font-size: 25px; line-height: 40px;">{{event.time}}</span></p>
          </div>
        <div>
          <div style="height:30px;"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}