<!DOCTYPE html>
<html>
  <head>

    {%load static%}
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>{{request.user.username}}'s' Page</title>
    <!-- Bootstrap css -->
    <link href="{%static 'hub/bootstrap.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'hub/background.css' %}">
    <link rel="stylesheet" href="{%static 'hub/carousel.css' %}">

  </head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/" class="logo">
                      <img src="{%static 'hub/images/DIY_2.png' %}" alt="DIY EVENT HUB">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <!-- <li><a href="index.html" class="active">Home</a></li> -->
                      <li><button><a href="/DIY_create">Create Event</a></button></li>
                      <li><button style="background-color: #aedb81;"><a href="#">Logged in as:{{request.user.username}}</a></button></li>
                      <li><button><a href="{% url 'logout' %}">Logout</a></button></li>
                  </ul>   
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- We list the user's own events here -->
  <div class="page-heading">
    <div class="featured-explore"> 
      <div class="slider-header" style=" position:recenter;font-family: 'MV Boli';" > <h1> Your Events</h1></div>
      <br>
      <div class="container-fluid">
      
        <div class="row">
          <div class="col-carousel">
            <div class="slider-features slider-carousel">

              <!-- Cards for events that the user has created start here -->
              {% for EventDetails in userevents %}
              <div class="item">
                 <div >
                  <div class="card mb-2">
                    <div class="card-body">
                      <h4 class="card-title">{{ EventDetails.title }}</h4>
                      <p class="card-text">{{ EventDetails.description }}
                        <p>{{ EventDetails.date }} {{ EventDetails.time }}</p>
                      <h5>Guests Attending: {{EventDetails.Is_rsvp}}</h5></p>

                      <a href="{% url 'event_detail' EventDetails.event_id %}" class="btn btn-primary">View Now</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>  
          </div>
        </div>
        <br>
        <br>
        <br>
        <br> 

        <!-- We list other public events here -->
        <div class="slider-header" style=" position:center; font-family: 'MV Boli';" > <h1> Public Events:</h1></div>
        <br>
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-carousel">
            <div class="slider-features slider-carousel">

              <!-- cards of the most recent public events start here -->
              {% for EventDetails in events %}
              <div class="item">
                 <div >
                  <div class="card mb-2">
                    <div class="card-body">
                      <h5 class="card-title">{{ EventDetails.title }}</h5>
                      <p class="card-text">{{ EventDetails.description }}
                        <p>{{ EventDetails.date }} {{ EventDetails.time }}</p></p>
                      <a href="{% url 'event_detail' EventDetails.event_id %}" class="btn btn-primary">View Now</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>  
          </div>
        </div>
      </div> 
  <footer style="position: relative; bottom: 0; width: 100%">
    <div>
      <p>Copyright © 2022 DIY EVENT HUB </p>
    </div>
  </footer>
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{%static 'hub/js/isotope.min.js' %}"></script>
  <script src="{%static 'hub/js/owl-carousel.js' %}"></script>
  <script src="{%static 'hub/js/custom.js' %}"></script>

 
  </body>
</html>
